.layout-cotainer {
	height: 98vh;
	background-color: #f0f0f0 !important;

	// flex-direction: column;
	// background-color: transparent !important;
}
.layout-container-center {
	box-sizing: border-box;
	padding: 16px;
	width: 100%;
	height: 100%;
}
